{% extends 'main_marketplace/base.html' %}
{% load static %}
{% block title %}Meto - {{ product.title }}{% endblock %}
{% block content %}

    <div class = 'product_new_container'>
        <div class="product_new_page_title">
            <h2>Публикация объявления</h2>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="b-flex-wrap">
                <div>
                    <div class="form_input_block">
                        <h4>Категория</h4>
                        {{ form.category }}
                    </div>
                    <div class="form_input_block">
                        <h4>Название</h4>
                        {{ form.title }}
                    </div>
                    <div class="form_text_input_block">
                        <h4>Описание</h4>
                        {{ form.description}}
                    </div>
                    <div class="form_input_block">
                        <h4>Цена</h4>
                        {{ form.cost}}
                    </div>
                    <div class="form_input_block_disp_flex">
                        <div style="margin-right: 15px">
                            <h4>Город</h4>
                            {{ form.city}}
                        </div>
                        <div>
                            <h4>Адрес</h4>
                            {{ form.address}}
                        </div>

                    </div>
                    <div class="form_input_photo">
                        <h4>Фото</h4>
                        <div class="file_input">
                            {{ form.image}}
                        </div>
                    </div>

                </div>
            </div>
            {{form.errors}}
            <div class="buttons_block">
                <input type="submit" class="b-form__submit b-form__submit_white b-form__submit_margins accept_button"
                   value="Опубликовать">

                <a class="no_decoration" href="{%url 'main_marketplace:product_list' %}">
                    <div class="cancel_button">
                        <p>Отмена</p>
                    </div>
                </a>
            </div>


        </form>
    </div>

{% endblock %}