{% extends 'main_marketplace/base.html' %}
{% load static %}
{% block title %}Meto - Сообщения{% endblock %}
{% block content %}
    <div class="header_controls glavnaya">
        <a href="{%url 'main_marketplace:product_list' %}">Главная</a>
    </div>
    <div class="product_title">
        <h2>Диалоги</h2>
    </div>
<div class="favorite_products_container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">


            {% if chats.count == 0 %}
            У вас еще нет созданных чатов
            {% endif %}

            <div class="b-chats-list">
                {% include 'messengerapp/includes/chats_list.html' %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/chat_updates.js' %}"></script>
{% endblock %}