{% extends 'main_marketplace/base.html' %}
{% load static %}
{% block title %}Life on Line | Сообщения{% endblock %}
{% block content %}


<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-11">
                <div class="card card-bordered">
                    <div class="card-header">
                        {% for member in chat.members.all %}
                        {% if member.pk != user.pk %}
                        <span>Диалог с</span>
                        <a href="{% url 'personal_page:personal_page' member.pk %}">
                            <div style="background-image: url(
                                                    '/media/{{ member.avatar|default:'users_avatars/default.png'}}'
                                                    )" class="b-user-img_small"></div>
                            {{ member.first_name }}
                        </a>
                        {% endif %}
                        {% endfor %}
{#                        <h4 class="card-title"><strong>Название товара и имя пользователя</strong></h4>#}
                        <a class="btn btn-xs btn-secondary" href=" {% url 'messenger:dialogs' %}" data-abc="true">К диалогам</a>
                    </div>

                    <div class="b-chat__content ">
                        <div class="b-chat__content__messages ps-container ps-theme-default ps-active-y js-chat-block" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                            {% include 'messengerapp/includes/message.html'%}
                        </div>
                    </div>

                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data" class="b-chat__form publisher bt-1 border-light">
                        {% csrf_token %}
                        <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                        <input name="message " class="b-form__input publisher-input" placeholder="Ваше сообщение..." autofocus>
                        <input name="chat_pk" value="{{ chat.pk }}" type="hidden">
                        <input type="file" name="image" class="d-none" id="id_attach_img_input" placeholder="Изображние">
                        <input type="submit" class="b-send-btn js-send-msg publisher-btn text-success border border-light"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/lib/reconnecting-websocket.min.js' %}"></script>
<script>
    let chat = document.getElementsByClassName("js-chat-block")[0];
    chat.scrollTop = chat.scrollHeight;

    const chat_id = "{{ chat.id }}";
    const chat_members = "{{ chat.get_members }}";
    const user_name = "{{ user.get_name }}";
    const user_img = "/media/{{ user.avatar|default:'users_avatars/default.png'}}";


    let chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host + '/ws/chat/' + chat_id + '/');

    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data),
            event = data['event'];

        console.log(data);

        if (event === 'new_msg') {
            process_message(data);
        } else if (event === 'read' && data['user_id'] !== user_id) {
            $('.b-msg-item.b-msg-item_unread').removeClass('b-msg-item_unread');
        }
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    function process_message(data) {
        let is_own_class = '',
            is_read_class = '',
            is_img = '';

        if (data['author_id'] === user_id) {
            is_own_class = 'media-chat-reverse';
            is_read_class = "b-msg-item_unread";
        } else {
            chatSocket.send(JSON.stringify({
                'action': 'read',
                'chat_id': chat_id
            }));
        }
        msg = '';

        if (data['author_id'] === user_id) {
            msg = '' +
            '<div class="b-msg-item-wrap media media-chat ' + is_own_class + '">' +
            '   <div class="b-msg-item media-body ' + is_read_class + '">' +
            '       <div class="b-msg-item__username__content">' +
            '           <span class="b-msg-item__time message_time_block">' + data['time'] + '</span>' +
            '           <span class="b-msg-item__text">' + data['message'] + '</span>' +
            '       </div>' + is_img +
            '   </div>' +
            '</div>';
        }
        else {
            msg = '' +
            '<div class="b-msg-item-wrap media media-chat ' + is_own_class + '">' +
            '   <div class="b-msg-item media-body ' + is_read_class + '">' +
            '       <div class="b-msg-item__username__content">' +
            '           <span class="b-msg-item__text">' + data['message'] + '</span>' +
            '           <span class="b-msg-item__time message_time_block">' + data['time'] + '</span>' +
            '       </div>' + is_img +
            '   </div>' +
            '</div>';
        }


        $('.b-chat__content__messages')[0].innerHTML += msg;
        $(".js-chat-block")[0].scrollTop = 9999;
    }

    document.querySelector('.b-chat__form').addEventListener('submit', function (e) {
        e.preventDefault();

        let messageInputDom = document.querySelector('.b-form__input');
        let inputFile = document.querySelector('.b-chat__form input[name="image"]');
        let message = messageInputDom.value;

        if (!message) {
            return;
        }

        let date = new Date();

        chatSocket.send(JSON.stringify({
            'action': 'message',
            'message': message,
            'time': date.getHours() + ':' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes(),
            'author_id': user_id,
            'author_name': user_name,
            'author_img': user_img,
            'members': chat_members,
            'image': false
        }));

        messageInputDom.value = '';
    });
</script>
{% endblock %}