*.idea
*.pyc
*__pycache__
*.sqlite3
*.json
*.sass-cache

/venv

/media/*

!/media/product_images/
/media/product_images/*
!/media/product_images/no_image_product.jpg

!/media/users_avatars/
/media/users_avatars/*
!/media/users_avatars/default.png