{% extends 'main_marketplace/base.html' %}
{% load static %}
{% block title %}Meto - Профиль{% endblock %}

{% block content %}
    <div class="header_controls glavnaya">
        <a href="{%url 'main_marketplace:product_list' %}">Главная</a>
    </div>
    <div class="product_title">
        <h3>Профиль</h3>
    </div>
    <div class="profile_info_container">
        <div class="profile_avatar_and_bio">
            <div class="avatar_container">
                <div class="avatar_personal_page" style = "
                background: url({{ cur_user.avatar.url }});
                ">
                </div>
            </div>
            <div class="bio_container">
                <h3>{{ cur_user.first_name }}</h3>
                <p>Дата регистрации: {{ cur_user.date_joined.day }}.{{ cur_user.date_joined.month }}.{{ cur_user.date_joined.year }}</p>
                {% if cur_user == user %}
                    <a href="{% url "personal_page:personal_edit" user_id=cur_user.id %}">
                        <div class="fas fa-cog" aria-hidden="true"></div>
                        <span>Редактировать</span>
                    </a>
                {% endif %}
            </div>

        </div>

        <div class="bio_info_contaier">

        </div>
    </div>
    <div class="profile_products_container">
        <div class="profile_products_block">
            <h3>Активные объявления ({{ user_active_products|length }})</h3>
            {% for product in user_active_products%}
                <div class="profile_product_block">
                    <div class="product_block_splide profile_product_block_splide">
                        <a href="{% url 'main_marketplace:product_detail' product_id=product.pk %}">
                            <div class="product_block_image_block profile_product_block_image_block">
                                {% if product.image %}
                                    <img src ="{{ product.image.url }}">
                                {% else %}
                                    <img src ="{% static 'img/no_image_product.jpg' %}">
                                {% endif %}
                            </div>
                            <div class="product_block_description_block">
                                <div class="product_block_name">
                                    {{ product.title }}
                                </div>
                                <div class="product_block_cost">
                                    <div class="description_cost">
                                        {{ product.cost }}
                                    </div>
                                    <div>
                                        ₽
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="profile_products_block">
            <h3>Архив объявлений ({{ user_unactive_products|length }})</h3>
            {% for product in user_unactive_products%}
                <div class="profile_product_block">
                    <div class="product_block_splide profile_product_block_splide">
                        <a href="{% url 'main_marketplace:product_detail' product_id=product.pk %}">
                            <div class="product_block_image_block profile_product_block_image_block">
                                {% if product.image %}
                                    <img src ="{{ product.image.url }}">
                                {% else %}
                                    <img src ="{% static 'img/no_image_product.jpg' %}">
                                {% endif %}
                            </div>
                            <div class="product_block_description_block">
                                <div class="product_block_name">
                                    {{ product.title }}
                                </div>
                                <div class="product_block_cost">
                                    <div class="description_cost">
                                        {{ product.cost }}
                                    </div>
                                    <div>
                                        ₽
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}