html{
	font-family: 'Jost', sans-serif;
}
body{
	font-family: 'Jost', sans-serif;
	margin: 0;
}

.errorlist{
	margin-bottom: 0px;
}
/* header */
.header{
	align-items: center;
	font-size: 1.125rem;
}
.header_top{
	height: 40px;
    align-items: center;
	background-color:#f7f7f7;
    display: flex;
}
.header_top_data{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.topnav a, .header_under a{
	color: #262626;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.city select{
 background-color: #f7f7f7 !important;
 height: 100% !important;
 color: black !important;
}
.city select{
	padding-left: 0 !important;
}
.header_main, .header_under{
	font-size: 16px;
	display: flex;
	align-items: center;
	column-gap: 2rem;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 40px;
	padding-left: 40px;
}
.logo_block{
	width: 100px;
}
.logo_block img{
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}
.header_category select, .header_search button, .city select{
	cursor: pointer;
	align-items: center;
	height: 50px;
	display: inline-flex;
	font-size: 1.125rem;
	outline: none;
	background: #76bc21;
	color: white;
	font-family: 'Jost', sans-serif;
	border: 0;
	padding-left: 25px;
	padding-right: 25px;

}
.header_search{
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	display: flex;
}
.header_search form{
	width: 100%;
	height: 100%;
	display: flex;
}
.header_search input{
	    font-size: 18px;
	border-color: #e4e4e4 !important; 
	overflow: visible;
	box-sizing: border-box;
	display: flex;
	flex-grow: 1;
	width: 150px;
	
	border-right: none;
	padding-left: 15px;
	font-family: 'Jost', sans-serif;
	border: 1px solid; 
	border-radius: 0px;
	outline: 0;
}
.header_search button{
	position: relative
}
.search_button:hover, .header_category button:hover{
	background-color: #88d926;
}
.header_controls{
	text-align: center;
	text-decoration: none;
	display: flex;
}
.header_controls a{
	color: #000 !important;
	text-decoration: none
}
.header_control{
	margin-left: 20px;
}
.head_1{
	margin-left: 0px;
}
.header_under{
	border-bottom: 1px solid #f7f7f7;
	border-top: 1px solid #f7f7f7;
	padding-top: 0px;
	padding-bottom: 0px;
}
.popular_category{
	display: inline-flex;
	border-left: 1px solid #f7f7f7;
}

.footer{

	background-color: #f5f5f5;
	width: 100%;
	height: 350px;
}
.logo_and_contact_footer{
	margin: 0;
}
.contacts_footer h4{
	font-weight: bold;
	font-size: 22px;
}
.footer_content{
	display: flex;
	gap: 2rem;
	padding-top: 30px;
}
.logo_footer{
	width: 235px;
	margin-bottom: 20px;

}
.logo_footer img{
	max-width: 100%;
}
.footer_links_block{
	padding-top: 50px;
}
.footer_links_block ul{
	padding-left: 20px;
}

/* ------------ */
/* product_list */
.all_products_container{
	display: grid;
}
.products_block{
	border-bottom: 1px #f7f7f7 solid;
    padding-bottom: 20px;
}
.products_block h2 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.product_block_splide{
	font-size: 1.1rem;
	float: left;
	width: 350px;
	height: 250px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.product_block_splide a{
	color: #262626;
	text-decoration: none;
}
.product_block_image_block{
	position: relative;
	background-color: #f0f0f0;
	width: 100%;
	height: 200px;
}
.product_block_image_block img{
	position: absolute;
	display: block;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.product_block_description_block{
	border: 1px #f0f0f0 solid;
}
.product_block_name{
    height: 27px;
	overflow: hidden;
}
.product_block_cost{
	justify-content: end;
	display: flex;
}
.description_cost{
	font-weight: bold;
}
/* ---------------*/
/* product_detail */
.glavnaya{
	padding-top: 11px;
}
.product_title{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px #f7f7f7 solid;
}
.product_title h3{
	font-size: 2.2rem;
	font-weight: 500;
}
.favorite_block{
	display: flex;
	justify-content: space-between;
}
.favorite_block a{
	text-decoration: none;
}
.fav_button{
	display: flex;
	align-items: center;
	color: #343a40;
}
.product_title p{
	float: right;
	margin-bottom: 0px;
}

.product_desription_block{
	padding-bottom: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	display: flex;
	grid-column-gap: 2rem;
	border-bottom: 1px #f7f7f7 solid;
}
.description_image_block{
	max-width: 580px;
	min-width: 520px;
	min-height: 400px;
	/*background-color: #f9f9f9;*/
}
.description_image img{

	position: absolute;
	display: block;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

.description_short_block{
	width: 100%;
}

.description_contact_card_block{
	padding: 15px;
	border: 1px #f7f7f7 solid;
	max-width: 290px;
	max-height: 300px;
	width: 100%;
	height: 100%;
	min-width: 300px;
}
.contact_card{
	width: 100%;

}
.contact_card_cost{
	font-size: 33px;
	font-weight: 500;
	text-align: end;
}
.contact_card_user_avatar_block{
	width: 60px;
	min-width: 60px;

	height: 60px;
	border: 1px solid #999;
	border-radius: 100%;
	margin: 0px 10px 0 0px;
}
.avatar_and_name{
	color: black;
	display: flex;
	align-items: center;
}
.contact_card_username{
	overflow: hidden;
	text-decoration: black;
    font-size: 22px;
}

.contact_card_write_button_block{
	height: 40px;
	width: 100%;
	margin-top:10px;
	background-color: #76bc21;
	color: white;
	text-align: center;
}
.contact_card_write_button_block p{
	position: relative;
   top: 50%;
   transform: translate(0, -50%);
	margin-bottom: 0px;
}
.contact_card_write_button_block:hover{
	text-decoration: none;
	background-color: #7fcb23;
}
.contact_card_write_button_block_edit{
	height: 40px;
	width: 100%;
	margin-top:10px;
	background-color: #e9bd23;
	color: white;
	text-align: center;
}
.contact_card_write_button_block_edit p{
	position: relative;
   top: 50%;
   transform: translate(0, -50%);
	margin-bottom: 0px;
}
.contact_card_write_button_block_edit:hover{
	text-decoration: none;
	background-color: #e0ae00;
}

.contact_card_write_button_block_delete{
	height: 40px;
	width: 100%;
	margin-top:10px;
	background-color: #da634e;
	color: white;
	text-align: center;
}
.contact_card_write_button_block_delete p{
	position: relative;
   top: 50%;
   transform: translate(0, -50%);
	margin-bottom: 0px;
}
.contact_card_write_button_block_delete:hover{
	text-decoration: none;
	background-color: #cf442c;
}

.no_decoration{
	text-decoration: none !important;
}
.contact_card_phone_block{
	height: 40px;
	width: 100%;
	margin-top:10px;
	text-align: center;
	border: 1px #76bc21 solid;
	position: relative
}
.contact_card_phone_block p{
	position: relative;
   top: 50%;
   transform: translate(0, -50%);
	margin-bottom: 0px;
}
.product_description_main_block{
	width: 100%;
	height: 400px;
}
.description_text{
	padding-right: 35%;
}

/*--------------*/
/* product_new  */
.product_new_container{
	margin-bottom: 25px;
}
.product_new_page_title{
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 700;
}
.product_new_page_title h2{
	font-weight: 700;
}
.form_input{
	border-radius: 0px;
	height: 40px;
	min-width: 230px;
	border: 1px black solid;
}
.form_input_block{
	border-bottom: 1px #f7f7f7 solid;
	width: 60%;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
.form_text_input_block{
	border-bottom: 1px #f7f7f7 solid;
	width: 60%;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
.form_text_input_block textarea{
	min-height: 160px;
	min-width: 475px
}
.form_input_block_disp_flex{
	display: flex;
	border-bottom: 1px #f7f7f7 solid;
	width: 60%;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
.file_input input{

	border: none !important;
}
.form_input_photo{
	display: table;
	position: relative;
    overflow: hidden;
    font-size: 1em;
    height: 2em;
    line-height: 2em;
	margin-bottom: 15px;
}
.form_input_photo > div, .form_input_photo > button{
    float: left;
    height: 100%;
    margin: 0
}
.buttons_block{
	display: flex;
	align-items: end;
}
.accept_button{
	border-radius: 0px;
	background-color: #76bc21;
	color: white;
	font-size: 1.3rem;
	height: 40px;
	min-width: 230px;
	border: none;
	margin-right: 7px;
}
.cancel_button{
	height: 40px;
	width: 150px;
	margin-top:10px;
	background-color: #f7f7f7;
	color: white;
	text-align: center;
}
.cancel_button:hover{
	color: gray;
}
.cancel_button p{
	position: relative;
	color: black;
   top: 50%;
   transform: translate(0, -50%);
	margin-bottom: 0px;
}

/* authorization */
.auth_input input{
	border-radius: 0px;
	border: 1px #808080 solid;
	width: 572px !important;
	height: 45px !important;
	padding: 0.75rem 0.5rem;
}
.autn_buttons{
	margin-bottom: 135px;
}


/*---------------*/
/* personal_page */
/*               */
.profile_info_container{
	margin-top: 15px;
	display: flex;
	width: 100%;
}

.profile_avatar_and_bio{
	display: flex;
}
.avatar_personal_page{
	width: 100px;
	min-width: 100px;
	height: 100px;
	border: 1px solid #999;
	border-radius: 100%;
	margin: 0px 10px 0 0px;
	background-size: auto 100% !important;
	background-size: cover !important;
}

.bio_container a{
	    color: #000 !important;
    text-decoration: none;
}
.profile_products_container{
	display: grid;

	width: 100%;
	margin-top:20px;
}

.profile_products_block{
	margin-top: 20px;
	border-bottom: 1px #f7f7f7 solid;
}

.profile_product_block_splide{
	width: 175px;
	height: 235px;
	margin-bottom: 0px;
}

.profile_product_block_image_block{
	height: 160px;
}

.checkbox_input{
	padding-top: 7px;
	padding-bottom: 0px;
	border: 0px;
	margin-bottom: 0px;
	height: 29px;
}
.checkbox_input input{
	height: 22px;
}

/*---------------*/
/* favorite_list */
.favorite_products_container{
	display: grid;
	justify-content: center;
	width: 100%;
	margin-top:20px;
	min-height: 350px;
}

.fav_block{
	display: flex;
}

.fav_product_block_image_block{
	position: relative;
	background-color: #f0f0f0;
	width: 175px;
	min-width: 175px;
}
.fav_product_block_image_block img{
	position: absolute;
	display: block;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

.fav_product_block_splide{
    width: 600px;
    height: 200px;
    margin-bottom: 0px;
}

.fav_block_description_block{
	width: 100%;
	border: 1px #f0f0f0 solid;
}
.fav_name{
	padding:10px;
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.fav_product_block_cost{
	display: grid;
}

.description_city{
	font-weight: 100;
}

.fav_contact_block_btn{
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    background-color: #76bc21;
    color: white;
    text-align: center;
}

.fav_contact_block_btn p {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-bottom: 0px;
}

.fav_a_delete{
	text-align: end;
    margin-right: 10px;
    margin-top: 8px;
}
/* ----------*/
/* messenger */
/*           */

.b-msg-item__username__content{
	display: flex !important;
	align-items: flex-end !important;
}
.message_time_block{
	font-size: 10px;
	height: 11px;
	margin-bottom: 8px!important;
	margin-left: 3px!important;;
	margin-right: 3px!important;;
	    background-color: transparent !important;
}


.card-bordered {
    border: 1px solid #ebebeb;
}

.card {
    border: 0;
    border-radius: 0px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    -webkit-transition: .5s;
    transition: .5s;
}

.padding {
    padding: 3rem !important
}


.card-header:first-child {
	border-radius: 4px 4px 0px 0px;
}


.card-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 20px;
    background-color: #dfece1;
    border-bottom: 1px solid rgba(77,82,89,0.07);
}

.card-header .card-title {
    padding: 0;
    border: none;
}

h4.card-title {
    font-size: 17px;
}

.card-header>*:last-child {
    margin-right: 0;
}

.card-header>* {
    margin-left: 8px;
    margin-right: 8px;
}

.btn-secondary {
    color: #4d5259 !important;
    background-color: #e4e7ea;
    border-color: #e4e7ea;
    color: #fff;
}

.btn-xs {
    font-size: 11px;
    padding: 2px 8px;
    line-height: 18px;
}
.btn-xs:hover{
    color:#fff !important;
}




.card-title {
    font-family: Roboto,sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(77,82,89,0.07);
}


.ps-container {
    position: relative;
}

.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden!important;
    -ms-overflow-style: none;
}

.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
}

.media {
    padding: 3px 12px !important;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media .avatar {
    flex-shrink: 0;
}

.avatar {
    position: relative;
    display: inline-block;
    min-width: 36px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
    background-color: #f5f6f7;
    color: #8b95a5;
    text-transform: uppercase;
}

.media-chat .media-body {
    -webkit-box-flex: initial;
    flex: initial;
    display: table;
}

.media-body {
    min-width: 0;
}

.media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 100;
    color:#9b9b9b;
}

.media>* {
    margin: 0 8px;
}

.media-chat .media-body p.meta {
    background-color: transparent !important;
    padding: 0;
    opacity: .8;
}

.media-meta-day {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
    color: #8b95a5;
    opacity: .8;
    font-weight: 400;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media-meta-day::before {
    margin-right: 16px;
}

.media-meta-day::before, .media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
    margin-left: 16px;
}

.media-chat.media-chat-reverse {
    padding-right: 12px;
    padding-left: 64px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media-chat-reverse .b-msg-item__text{
    float: right;
    clear: right;
    background-color: #71bf44!important;
    color: #fff;
}

.media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
}

.media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
}
.b-msg-item__username__content span{
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
}


.border-light {
    border-color: #f1f2f3 !important;
}

.bt-1 {
    border-top: 1px solid #ebebeb !important;
}

.publisher {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 20px;
    background-color: #f5f5f5;
	border-radius: 0px 0px 4px 4px;
}

.publisher>*:first-child {
    margin-left: 0;
}

.publisher>* {
    margin: 0 8px;
}

.publisher-input {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border: none;
    outline: none !important;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
	border-radius: 4px;
}

button, input, optgroup, select, textarea {
    font-family: Roboto,sans-serif;
    font-weight: 300;
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #8b95a5;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.file-group {
    position: relative;
    overflow: hidden;
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #cac7c7;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.text-info {
    color: #48b0f7 !important;
}
.btn-secondary{
	background-color: #ffffff;
}
.b-send-btn{
	background-color: #1ca1f4;
    color: #f6f6f6 !important;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 9px;
}
