{% load static %}
<div class = "header">
	<div class="header_top">
        <div class="container header_top_data">
        {% csrf_token %}
        <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        </script>
            <div class="city">
				Город:
				<select class="city_select" type="button">
                    {% if selected_city %}
                        <option selected value="1" class="category-select-group-H5Ufe" data-marker="option(1)">{{ selected_city.name }}</option>
                        {% for city in all_cities %}
                            {% if city != selected_city %}
                                <option class="option-city-{{ city.id }}" value="{{ city.id }}" data-url="{% url 'main_marketplace:select_city' city_id=city.id %}" data-marker="option">
                                        {{ city.name }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
				</select>
			</div>
            <div class="topnav">
                <nav>
                    {% if user.is_admin %}
                        <a href= '{% url 'admin_panel:admin_main' %}'>Администрирование</a>
                    {% endif %}
                    {% if user.is_staff %}
                        <a href= '{% url 'admin_panel:moderate_product' %}'>Модерирование</a>
                    {% endif %}
                    <a href="#">О нас</a>

                    {% if user.is_authenticated %}
                        <a href="{% url 'personal_page:personal_page' user_id=user.pk %}">Личный кабинет</a>
                        <a href="{% url 'authorization:logout' %}">Выйти</a>
                    {% else %}
                        <a href="{% url 'authorization:auth_page' %}">Войти</a>
                    {% endif %}
                </nav>
            </div>
        </div>

	</div>

	<div class="header_main container">
        <div class="logo_block">
            <a href="{%url 'main_marketplace:product_list' %}">
		    <img src={% static 'img/logo.png' %}></a>
		</div>

{#            {{% for ke in key %}#}
{#                {{ ke }}#}
{#            {% endfor %}#}
		<form action="{% url 'main_marketplace:search_results' %}" , method="GET",
              style="
              width: 100%;
              display: contents;">
            <div class="header_category">
                <select name='category' type="button">
                    {% if category %}
                        <option value='[ "-1", "-1" ]' data-marker="option">Любая категория</option>
                        <option selected="" value='[ "{{main_category.id}}", "{{category.id}}" ]' data-marker="option">{{ category }}</option>
                    {% elif main_category %}
                        <option value='[ "-1", "-1" ]' data-marker="option">Любая категория</option>
                        <option selected="" value='[ "{{main_category.id}}", "-2" ]' data-marker="option">{{ main_category }}</option>
                    {% else %}
                        <option selected="" value='[ "-1", "-1" ]' data-marker="option">Любая категория</option>
                    {% endif %}

                    {% for main, sub in full_categories.items %}
                        <option value = '[ "{{main.id}}", "-2" ]' class="category-select-group-H5Ufe" data-marker="main_category-{{ main.id }}">{{ main }}</option>
                        {% for sub_name in sub %}
                             <option value = '[ "{{main.id}}", "{{ sub_name.id }}" ]'  mainValue = {{ main.id }} class = "sub_category_option" data-marker="category-{{ sub_name.id }}" >{{ sub_name }}</option>
                        {% endfor %}
                    {% endfor %}
{#                    {% for category in categories %}#}
{#                        <option value={{ category.id }} class="category-select-group-H5Ufe" data-marker="category-{{ category.id }}">#}
{#                            {{ category }}#}
{#                        </option>#}
{#                    {% endfor %}#}
                </select>
            </div>
            <div class="header_search">
                <input type="text" name="search_text" placeholder="Поиск">
                <button class="search_button" type="submit">
                    <div class="fas fa-search" aria-hidden="true"></div>
                </button>
            </div>
        </form>


		<div class="header_controls">
			<a href="{% url 'main_marketplace:favorite_products' %}">
				<div class="header_control head_1">
					<div class="far fa-star" aria-hidden="true"></div>
					<span>Избранное</span>
				</div>
			</a>
			<a href="{% url 'messenger:dialogs' %}">
				<div class="header_control">
					<div class="far fa-comment-dots" aria-hidden="true"></div>
					<span>Cообщения</span>
				</div>
			</a>
			<a href="{%url 'main_marketplace:product_create' %}">
				<div class="header_control">
					<div style="color: #76bc21" class="fa fa-sign-in" aria-hidden="true"></div>
					<span>Опубликовать</span>
				</div>
			</a>
		</div>
	</div>
	<div class = "header_under">
        <div class="container">
            <div class ="popular_categories">
			<nav>
                {% for main_category in main_categories|slice:":8" %}
                    <div class="popular_category">
                        <a href="{% url 'main_marketplace:category' main_category_id=main_category.id %}">{{ main_category }}</a>
                    </div>
                {% endfor %}
			</nav>
		</div>
        </div>

	</div>
</div>