{% if not chat %}
    Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе.
{% else %}
    {% if chat.message_set.all.count == 0 %}
        <div class="b-chat__content__no-msg">
            Напишите сообщение первым!
        </div>
    {% endif %}

    {% for message in chat.message_set.all %}
        {% url 'users:profile' message.author.username as the_user_url %}
        {% if message.author.pk == user.pk %}
        <div class="b-msg-item-wrap media media-chat media-chat-reverse">
            <div class="b-msg-item media-body message_text_block" >
                <div class="b-msg-item__username__content">
                    <span class="b-msg-item__time  message_time_block">{{ message.pub_date|time:"H:i" }}</span>
                    <span class="b-msg-item__text">{{ message.message|safe }}</span>
                </div>

            </div>
        </div>
        {% else %}
            <div class="b-msg-item-wrap media media-chat">
                <div class="b-msg-item media-body message_text_block" >
                    <div class="b-msg-item__username__content">
                        <span class="b-msg-item__text">{{ message.message|safe }}</span>
                        <span class="b-msg-item__time  message_time_block">{{ message.pub_date|time:"H:i" }}</span>
                    </div>

                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}