{% load static %}
<div class = "footer">
    <div class="container">
        <div class="footer_content">
            <div class="logo_and_contact_footer">
                <div class="logo_footer">
                    <img src={% static 'img/logo.png' %}>
                </div>
                <div class="contacts_footer">
                    <h4>+8(950)-08-22-33-9 </h4>
                    <p>Администратор</p>
                    <h4>+8(950)-08-22-33-9 </h4>
                    <p>Модератор</p>
                </div>
            </div>
            <div class="footer_links_block">
                <h6>О веб-приложении</h6>
                <ul>
                    <li>Оферта и политика конфиденциальности</li>
                    <li>Пользовательское соглашение</li>
                    <li>Условия обмена и возврата</li>
                    <li>Блог</li>
                    <li>Обратная связь</li>
                </ul>
            </div>
            <div class="footer_links_block">
                <h6>Информация</h6>
                <ul>
                    <li>О компании</li>
                    <li>История</li>
                    <li>Сотрудничество</li>
                </ul>
            </div>
        </div>
    </div>
</div>
